h1,h2,h3,h4,h5,h6,p,div {
  font-family: 'Poppins', sans-serif;
}


.yo {
  color: white;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

.main-image {
  background: image-url('friends_eating.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.restaurant-square {
  border: 2px solid darkgrey;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color:rgba(255,255,255,0.7);
  height: 300px;
  margin-bottom: 30px;
}

.boulder {
  background: image-url('boulder-colorful.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.denver {
  background: yellow;
}