@import "mixins";
@import "variables";

#homepage-index {

  .tagline {
    font-size: 60px;
  }
  .tagline-blurb {
    font-size: 28px;
  }

  .wide {
    width: 81%;
  }

  .front-btn {
    background-color: #224136;
    border: #224136;
    &:hover {
      background-color: #6E8964;
    }
  }

  @include full-background('simple-food.jpeg');

  @media screen and (max-width: $break-small) {
    @include full-background('food.jpeg');
  }

}