@import "mixins";


#restaurants-index {

  @include full-background;

  &.boulder {
    background: image-url('boulder-colorful.png') no-repeat center center fixed;
  }

  &.denver {
    background: image-url('denver.jpg') no-repeat center center fixed;
  }

  .restaurant-square {
    border: 2px solid darkgrey;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    height: 300px;
    margin-bottom: 30px;
  }

  #google-map {
    height: 400px;
  }

}


