Restaurants in <%= @city %>


<div class="row">

  <%= content_tag "div", id: "google-map", class: "col-xs-12", data: {restaurants: @restaurants} do %>
    Hello
  <% end %>

</div>








<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAgueZbJjJgWjbwQcdKrXtN-7YQcROO5NI&callback=initMap">
</script>

